@CHARSET "UTF-8";
/* 项目logo统一样式 */
.weblogo {
	display: inline-block !important;
	vertical-align: middle !important;
	max-width: 100% !important;
	max-height: 100% !important;
	height: auto !important;
}

.web-logo-a {
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
}

.header .logo-info > span {
	font-size: 28px;
	font-weight: 700;
	color: #3C3C3C;
	margin-left: 10px;
	margin-top: 3px;
	float: left;
	width: 300px;
}

.header .logo-info > span > span {
	margin-left: 5px;
	font-size: 16px;
	font-weight: 400;
}

.logo-text {
	width: auto;
	height: 80px;
	line-height: 80px;
	font-size: 28px;
	float: left;
	color: #333;
}